<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form>
    <label for="name">name</label>
    <input type="text" name="name" id="name">
    <label for="email">email</label>
    <input type="text" name="email" id="email">
    <label for="name">password</label>
    <input type="password" name="password" id="password">
    <button>submit</button>
    
</form>
<script>
    const form = document.querySelector("form")
    form.addEventListener("submit",async (e)=>{
        e.preventDefault()
        const name = form.name.value
        const email = form.email.value
        const password = form.password.value
        try{
            console.log(name,email,password)
            const res = await fetch("/adduser",{
                method:"POST",
                headers : {"Content-Type": " application/json"},
                body: JSON.stringify({name,email,password})
            })  
        }catch(e){
                console.log(e)
            }
    })
</script>
<%- include("./partials/footer.ejs") %> 